@using CinemaTeam.Plugins.Media;
@using Sandbox.UI;

@namespace Cinema.UI
@inherits Panel;
@attribute [StyleSheet]

<root>
    @if (AllowSentimentVotes)
    {
    <div class="like-panel">
        <button class="icon like @GetLikeClass()" onclick=@(() => OnLike())>thumb_up</button>
        <button class="icon dislike @GetDislikeClass()"  onclick=@(() => OnDislike())>thumb_down</button>
    </div>
    }
    <div class="main-panel">
        <div class="thumbnail" @ref=Thumbnail style="background-image: url(@ThumbnailPath);" />
        <div class="playback">
            <div class="title">@NowPlaying?.GenericInfo?.Title</div>
            <div class="mid-area">
                <div class="controls">
                    <button class="control-button restart" onclick=@OnRestart>skip_previous</button>
                    <button class="control-button play" @onclick=@OnTogglePause>@(Controller.IsPaused ? "play_arrow" : "pause")</button>
                    <button class="control-button skip" @onclick=@OnSkip>skip_next</button>
                </div>
                <div class="volume-area">
                    <button class="volume-icon" @onclick=@OnToggleMute>@(MediaConfig.DefaultMediaVolume == 0f ? "volume_off" : "volume_up")</button>
                    <SliderControl @ref=VolumeSlider OnValueChanged=@OnVolumeChanged Min=@(0.0f) Max=@(2.0f) Step=@(0.01f) class="volume-control"/>
                </div>
            </div>
            <div class="progress-area">
                <div class="progress-time">@NowPlayingTimeString</div>
                <SliderControl @ref=ProgressSlider Min=@(0.0f) Max=@(NowPlaying?.GenericInfo?.Duration ?? 0.0f)/>
                <div class="progress-time">@NowPlaying?.GenericInfo?.DurationFormatted</div>
            </div>
        </div>
    </div>
</root>